In [1]:
a=10
b=20
a
b

20

In [2]:
print(10)
b=20
print(b)

10
20

In [3]:
print(a,b)

10 20

In [4]:
print(30,'Nareshit','Hyd')

30 Nareshit Hyd

In [7]:
num1=100
num2=200
add=num1+num2
#the addition of 100 and 200 is 300
print("The addition of", num1 , "and" , num2 ,"is" ,add)

The addition of 100 and 200 is 300

In [8]:
name="Vaibhav"
age=21
city="hyd"
print("My name is",name,"i am",age,"years old and came from",city)

My name is Vaibhav i am 21 years old and came from hyd

# FORMAT METHOD

In [9]:
name="Vaibhav"
age=21
city="hyd"
print("My name is {} i am {} years old and came from {}".format(name,age,city))

My name is Vaibhav i am 21 years old and came from hyd

In [10]:
num1=100
num2=200
add=num1+num2
#the addition of 100 and 200 is 300
print("The addition of {} and {} is {}".format(num1,num2,add))

The addition of 100 and 200 is 300

In [11]:
numb1=100
numb2=200
add1=numb1+numb2
sub=num1-numb2
mul=numb1*numb2
div=numb1/numb2
print("The addition of {} and {} is {}".format(numb1,numb2,add1))
print("The subtraction of {} and {} is {}".format(numb1,numb2,sub))
print("The multiplication of {} and {} is {}".format(numb1,numb2,mul))
print("The division of {} and {} is {}".format(numb1,numb2,div))

The addition of 100 and 200 is 300
The subtraction of 100 and 200 is -100
The multiplication of 100 and 200 is 20000
The division of 100 and 200 is 0.5

In [18]:
N1=10
N2=20
N3=30
avg=(N1+N2+N3)/3
print("The average of {},{},{} is : {}".format(N1,N2,N3,avg))

The average of 10,20,30 is : 20.0

In [25]:
numb1=100
numb2=200
add1=numb1+numb2
sub=num1-numb2
mul=numb1*numb2
div=numb1/numb2
print("=============================ADD=========================================")
print("The addition of {} and {} is {}".format(numb1,numb2,add1))
print("=============================SUB=========================================")
print("The subtraction of {} and {} is {}".format(numb1,numb2,sub))
print("=============================MUL=========================================")
print("The multiplication of {} and {} is {}".format(numb1,numb2,mul))
print("=============================DIV=========================================")
print("The division of {} and {} is {}".format(numb1,numb2,div))
print("=============================AVG=========================================")
N1=10
N2=20
N3=30
avg=(N1+N2+N3)/3
print("The average of {},{},{} is : {}".format(N1,N2,N3,avg))
print("=============================END=========================================")

=============================ADD=========================================
The addition of 100 and 200 is 300
=============================SUB=========================================
The subtraction of 100 and 200 is -100
=============================MUL=========================================
The multiplication of 100 and 200 is 20000
=============================DIV=========================================
The division of 100 and 200 is 0.5
=============================AVG=========================================
The average of 10,20,30 is : 20.0
=============================END=========================================

# F String

In [24]:
numb1=100
numb2=200
add1=numb1+numb2
sub=num1-numb2
mul=numb1*numb2
div=numb1/numb2
print(f"=============================ADD=========================================")
print(f"The addition of {numb1} and {numb2} is {add1}")
print("=============================SUB=========================================")
print(f"The subtraction of {numb1} and {numb2} is {sub}")
print("=============================MUL=========================================")
print(f"The multiplication of {numb1} and {numb2} is {mul}")
print("=============================DIV=========================================")
print(f"The division of {numb1} and {numb2} is {div}")
print("=============================AVG=========================================")
N1=10
N2=20
N3=30
avg=(N1+N2+N3)/3
print(f"The average of {N1},{N2},{N3} is : {avg}")
print("=============================END=========================================")

=============================ADD=========================================
The addition of 100 and 200 is 300
=============================SUB=========================================
The subtraction of 100 and 200 is -100
=============================MUL=========================================
The multiplication of 100 and 200 is 20000
=============================DIV=========================================
The division of 100 and 200 is 0.5
=============================AVG=========================================
The average of 10,20,30 is : 20.0
=============================END=========================================

## ROUND

In [27]:
# int()
# float()
# hello()
# bye()
CTRL+A and CTRL+/ to comment the whole information

In [31]:
a=10
b=25
c=30
x=(a+b+c)/3
print(round(x))

22

In [32]:
a=10
b=25
c=30
x=(a+b+c)/3
print(round(x,3))#round for rounding up the result the number after x indicates that how many decimals we want to bound to.

21.667

# end

In [33]:
print(10,end="====>")
print(20)

10====>20

In [35]:
print(10,end=" ")
print(20,end=" ")
print(30)

10 20 30

In [37]:
print('hello',end=" ")
print('hai',end=" ")
print('how',end=" ")
print('are',end=" ")
print('you')

hello hai how are you

## Separator

In [38]:
print(10,20,30,sep='===>')

10===>20===>30

In [39]:
print(10,20,30,sep=',')

10,20,30

- "sep" is used to add a seperator among the values where desired.

In [40]:
# Write a program take the radius of circle and calculate area of the circle
#var: radius var: pi=3.14
#formulae: pi*radius*radius
#print the result using f string and format methods.


#wap take the breadth and height of a right angle triangle
#calculate the area
#var1: breadth var2: height
#formulae 0.5*breadth*height

#calculate the total bill
#var1: bill amount var2: tip amount
#formulae


#wap take the length and breadth of a rectangle calculate area
#var1: lenght var2: breadth
#formulae: length * breadth

## Area of Circle

In [51]:
rad=14
pi=3.14
area=pi*rad*rad
x=(round(area,2))
print(f"The area of circle with radius {rad} is : {x} cm²")

The area of circle with radius 14 is : 615.44 cm²

## Area of Right angled Triangle

In [55]:
B=8
H=4
area=0.5*B*H
print(f"The area of Right angled triangle with Breadth {B}cm & Height {H}cm is : {area}cm²")

The area of Right angled triangle with Breadth 8cm & Height 4cm is : 16.0cm²

## Total Bill Amount

In [53]:
TB=3000
Tip=300
Bill=TB+Tip
print(f"The total bill amount {TB} with Tip amount {Tip} is : {Bill}")

The total bill amount 3000 with Tip amount 300 is : 3300

## Area of a Rectangle

In [56]:
L=8
B=6
area=L*B
print(f"The area of Rectangle with Length {L}cm and Breadth {B}cm is : {area}cm²")

The area of Rectangle with Length 8cm and Breadth 6cm is : 48cm²

**input**
- in above we provided the value 
- innput is the inbuilt function
- using input the user can provide any value

In [1]:
input

**Note: whenever u see bound method or function which indicates we forget the braces**

In [3]:
input()

Hi how are you

'Hi how are you'

In [4]:
b=input()

20

In [5]:
type(b)

str

In [7]:
c=b+20
c

TypeError: can only concatenate str (not "int") to str

In [12]:
a=input("Enter a number:")
b=input("Enter a number:")
c=a+b
print(c)

Enter a number:20
Enter a number:30
2030

In [13]:
a=int(input("Enter a number:"))
b=int(input("Enter a number:"))
c=a+b
print(c)

Enter a number:20
Enter a number:30
50

In [16]:
str1=input("enter your str1:")
str2=input("enter your str2:")
str3=input("enter your str3:")
str1+str2+str3

enter your str1:apple
enter your str2:is
enter your str3:fruit

'apple is fruit'

In [18]:
a=input("Enter a number:")
b=input("Enter a number:")
c=int(a)+int(b)
print(c)

Enter a number:10
Enter a number:20
30

In [19]:
a=input("Enter a number:")
b=input("Enter a number:")
c=a+b
print(int(c))

Enter a number:10
Enter a number:20
1020

**eval**
- eval means evaluate
- it is related to math family
- which means it works only number represent as strings
- it will not work on english letters
- eval will convert the respective data type which user will enter
- if user enter 10 in quotes it will convert into 10
- if user enter 10.5 in quotes it will convert into 10.5

In [22]:
eval('10'), eval('10.5')

(10, 10.5)

In [23]:
a=eval(input("Enter a number:"))
b=eval(input("Enter a number:"))
c=a+b
print(c)

Enter a number:10
Enter a number:20
30

# Assignment

In [24]:
#Radius of the circle.
rad=eval(input("Enter radius of the circle:"))
pi=3.14
area=pi*rad*rad
x=(round(area,2))
print(f"The area of circle with radius {rad} is : {x} cm²")

Enter radius of the circle:14
The area of circle with radius 14 is : 615.44 cm²

In [28]:
#Area of triangle
B=eval(input("Enter breadth of the triangle:"))
H=eval(input("Enter height of the triangle:"))
area=0.5*B*H
print(f"The area of Right angled triangle with Breadth {B}cm & Height {H}cm is : {area}cm²")

Enter breadth of the triangle:6
Enter height of the triangle:8
The area of Right angled triangle with Breadth 6cm & Height 8cm is : 24.0cm²

In [31]:
#Avegarge of Three numbers
n1=eval(input("Enter number 1:"))
n2=eval(input("Enter number 2:"))
n3=eval(input("Enter number 3:"))
avg=(n1+n2+n3)/3
print(f"The avg of {n1},{n2},{n3} is {avg}")

Enter number 1:10
Enter number 2:20
Enter number 3:30
The avg of 10,20,30 is 20.0

In [36]:
#asking the user to enter the tip percentage and calculating the total bill_amount
bill_amnt=eval(input("Enter the bill amount:"))
tip=eval(input("Enter the tip %:"))
total_bill=bill_amnt+(bill_amnt*tip)/100
print(f"Total bill with tip percentage added is:{total_bill}")

Enter the bill amount:200
Enter the tip %:20
Total bill with tip percentage added is:240.0

In [39]:
name=input("Enter your Name:")
age=input("Enter your age:")
city=input("Enter your city:")
print(f"My Name is {name}, i am {age} years old and came form {city}.")

Enter your Name:vaibhav
Enter your age:21
Enter your city:Nizamabad
My Name is vaibhav, i am 21 years old and came form Nizamabad.